@charset "UTF-8";

body {
    margin: 0;
    color: whitesmoke;
    background-color: rgb(55, 56, 54);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hidden {
    display: none;
}

.floatingPanel {
    position: absolute;
}

.floatingPanel:not(.hidden) {
    display: flex;
}

#topLeftPanel {
    top: 10px;
    left: 10px;
}

#topRightPanel {
    top: 10px;
    right: 10px;
}

#bottomRightPanel {
    bottom: 10px;
    right: 10px;
}

#bottomLeftPanel {
    bottom: 10px;
    left: 10px;
    flex-direction: column;
}

.screenButton, .screenKey {
    border-radius: 5px;
}

.screenButton + .screenButton,
.screenKey + .screenKey {
    margin: 0 0 0 10px;
}

#bottomLeftPanel .screenKey + .screenKey {
    margin: 10px 0 0 0;
}

#editorPanel {
    flex-direction: column;
    background-color: rgba(5, 5, 5, 0.8);
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    top: 10px;
    right: 10px;
}

#editorPanel .list {
    height: 200px;
    overflow-y: scroll;
}

.modal__container textarea {
    width: 450px;
    height: 550px;
    margin-bottom: 10px;
}

#topLeftPanel {
    border-radius: 5px;
    background-color: rgba(70, 70, 70, 0.8);
}

#hud {
    margin: auto;
    padding: 10px;
    width: 90px;
}

#menu {
    min-width: 320px;
    width: 640px;
    height: 480px;
    border-radius: 5px;
    background-color: rgba(5, 5, 5, 0.8);
}

#menu .tabbedBox__tabPanel {
    height: 420px;
}

@media (max-width: 640px) {
    #menu {
        width: 320px;
    }
}

canvas:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
