@charset "UTF-8";

input, select, button {
    background-color: rgb(89, 89, 89);
    border-color: rgb(89, 89, 89);
    color: whitesmoke;
}

input[type="range"] + input {
    width: 3em;
    margin-left: 4px;
}

button:disabled {
    color: gray;
}

.inputContainer {
    display: flex;
    align-items: center;
    line-height: 26px;
}

.inputContainer label:first-child {
    margin-right: auto;
}

.label {
    margin-top: 8px;
    margin-bottom: 4px;
}

.numberInputControlGroup {
    position: relative;
}

.numberInputControlGroup .stepButton {
    position: absolute;
    color: whitesmoke;
    padding: 1px 5px 0 5px;
}

.numberInputControlGroup .stepButton-left {
    left: 0;
}

.numberInputControlGroup .stepButton-right {
    right: 0;
}

.numberInputControlGroup input {
    text-align: center;
    cursor: ew-resize;
}

.numberInputControlGroup input:focus {
    cursor: text;
}

.switch__input {
    height: 0;
	width: 0;
	visibility: hidden;
}

.switch__label {
    cursor: pointer;
    width: 28px;
    height: 12px;
    position: relative;
    background: rgb(89, 89, 89);
    border-radius: 2px;
    padding: 2px;
}

.switch__input:checked + .switch__label {
	background: rgb(129, 129, 129);
}

.switch__label:after {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	background: rgb(215, 215, 215);
	transition: 0.3s;
}

.switch__input:checked + .switch__label:after {
    background: rgb(255, 255, 255);
	transform: translateX(16px);
}

.list {
    border-top: 4px solid rgb(30, 30, 30);
    border-bottom: 4px solid rgb(30, 30, 30);
    list-style-type: none;
    padding: 10px 0;
}

.list li {
    padding: 2px 10px;
}

.list li.selected {
    background-color: rgba(128, 128, 128, 0.8);
}

.screenKey {
    width: 60px; 
    height: 60px;
    font-size: 42px;
    line-height: 42px;
    padding: 0 2px 2px 0;
}

.screenButton {
    width: 42px;
    height: 42px;
    font-size: 24px;
    line-height: 24px;
    padding: 0 2px 2px 0;
}
