@charset "UTF-8";

body {
    margin: 0;
    color: whitesmoke;
    background-color: rgb(55, 56, 54);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.floatingElement {
    position: absolute;
    border-radius: 5px;
}

.inputContainer {
    display: flex;
}

.inputContainer span {
    margin-right: auto;
}

.label {
    margin-top: 8px;
    margin-bottom: 4px;
}

.virtualKey {
    width: 32px;
    height: 32px;
}

.virtualKey#ArrowUp {
    bottom: 50px;
    left: 10px;
}
.virtualKey#ArrowDown {
    bottom: 10px;
    left: 10px;
}
.virtualKey#ArrowLeft {
    bottom: 10px;
    right: 50px;
}
.virtualKey#ArrowRight {
    bottom: 10px;
    right: 10px;
}
.virtualKey#R {
    top: 10px;
    right: 10px;
}

#editorPanel {
    background-color: rgba(70, 70, 70, 0.8);
    padding: 10px;
    width: 280px;
    top: 10px;
    right: 10px;
}

#editorPanel .list {
    height: 200px;
    overflow-y: scroll;
}

#hud {
    background-color: rgba(70, 70, 70, 0.8);
    padding: 10px;
    width: 90px;
    height: 20px;
    top: 10px;
    left: 10px;
}
