@charset "UTF-8";

body {
    margin: 0;
    color: rgb(116, 113, 113);
    background-color: rgb(55, 56, 54);
    overflow: hidden;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.floatingElement {
    position: absolute;
    border-radius: 5px;
}

.virtualKey {
    width: 32px;
    height: 32px;
}

.virtualKey#ArrowUp {
    bottom: 50px;
    left: 10px;
}
.virtualKey#ArrowDown {
    bottom: 10px;
    left: 10px;
}
.virtualKey#ArrowLeft {
    bottom: 10px;
    right: 50px;
}
.virtualKey#ArrowRight {
    bottom: 10px;
    right: 10px;
}
.virtualKey#R {
    top: 10px;
    right: 10px;
}

#editorPanel {
    background-color: rgba(144, 144, 144, 0.8);
    padding: 10px;
    width: 250px;
    top: 10px;
    right: 10px;
}

#editorPanel .list {
    height: 200px;
    overflow-y: scroll;
}
