@charset "UTF-8";

.fade-out {
    opacity: 0;
    transition: opacity var(--fade-out-duration) ease-in-out;
}

#notificationElementContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notificationElement {
    margin: auto;
    padding: 5px 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
}
